<h1 id="page_title">이메일 전송 완료</h1>

<div class="skinny_wrapper wrapper_padding">
	<h1>이메일이 성공적으로 전송되었습니다.</h1>
	<p>Sendgrid starter를 사용하고 있어서, 전송까지 약 5분정도 소요됩니다.</p>
	<p>이메일을 받는대로 되도록 빠른 시일내에 답변을 드리겠습니다.</p>
</div>